# Use these when the packages are relesed
# moderngl-window==2.1.*
# pyglet==1.5.*

# Unlreleased deps
https://github.com/moderngl/moderngl-window/archive/master.zip
https://github.com/pyglet/pyglet/archive/pyglet-1.5-maintenance.zip
